@font-face {
	font-family: 'Gilroy' ;
	src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
	     url('../fonts/gilroyextrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;     
}

@font-face {
	font-family: 'Gilroy' ;
	src: url('../fonts/gilroylight.woff2') format('woff2'),
	     url('../fonts/gilroylight.woff') format('woff');
	font-weight: 300;
	font-style: normal;     
}

@font-face {
	font-family: 'Open Sans' ;
	src: url('../fonts/opensans.woff2') format('woff2'),
	     url('../fonts/opensans.woff') format('woff');
	font-weight: 400;
	font-style: normal;     
}

@font-face {
	font-family: 'Open Sans' ;
	src: url('../fonts/opensanslight.woff2') format('woff2'),
	     url('../fonts/opensanslight.woff') format('woff');
	font-weight: 300;
	font-style: normal;     
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

html,
body {
	min-width: 1440px;
	min-height: 2795px;
}

body {
	margin: 0;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.header_user-nav,
.header_site-nav,
.catalog-nav {
	list-style: none;
}

.header_user-nav a {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.15px;
	color: #000000;
}

.site_nav-links {
	font-family: 'Gilroy', 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.6px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-nav a {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.15px;
	color: #000000;
}

.header_user-nav a:hover,
.header_site-nav a:hover,
.catalog-nav a:hover {
	color: #000000;
	opacity: 0.6;
}

.header_user-nav a:active,
.header_site-nav a:active,
.catalog-nav a:active {
	color: #000000;
	opacity: 0.3;
}

.main-header {

}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main_nav {
	display: flex;
	flex-direction: column;
	width: 1160px;
	height: 300px;
	margin-top: 40px;
    background-color: #f8e296;
    color: #000;
}

.header_logo img {
	position: absolute;
	margin-top: -20px;
	margin-left: 60px;
}

.header_logo:hover {
	opacity: 0.6;
}

.header_logo:active {
	opacity: 0.3;
}

.header_user-nav,
.header_site-nav,
.catalog-nav {
	display: block;
	margin: 0;
	padding: 0;
}

.main_nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1040px;
	min-height: 50px;
	margin-top: 30px;
	margin-left: 60px;
	padding: 0;
}

.main_nav-search {
	position: relative;
    width: 440px;
	height: 50px;
	padding-left: 35px;
}

.main_nav-search::before {
    content: "";
	position: absolute;
	top: 18px;
	left: 0px;
	width: 20px;
	height: 20px;
	background-image: url(../img/svg-device/search.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.search {
	width: 335px;
	height: 50px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.15px;
	color: #000000;
	border: none;
	background-color: transparent;
	opacity: 0.3;
}

.search:hover {
    opacity: 0.6;
}

.search:focus {
	border-bottom: 2px solid #000;
}

.btn_search {
	display: none;
}

.btn_search:focus {
    display: block;
}

.header_user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 520px;
	height: 25px;
}

.header_user-nav li:first-child {
	width: 280px;
}

.header_user-nav li:nth-child(2) {
	width: 100px;
}

.header_user-nav li:last-child {
	width: 90px;
}

.header_user-nav a {
	position: relative;
	padding-left: 27px;
}

.header_user-nav a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0px;
	width: 13px;
	height: 12px;
}

.header_login a::before {
	background-image: url(../img/svg-device/user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header_compare a::before {
	background-image: url(../img/svg-device/compare.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header_basket a::before {
	background-image: url(../img/svg-device/cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header_site-nav {
	display: flex;
	justify-content: space-between;
	width: 1040px;
	height: 30px;
	margin-top: 35px;
	margin-left: 60px;
	padding: 0;
}

.header_site-nav li:nth-child(1) {
	margin-right: 280px;
}

.header_site-nav li:nth-child(3) {
	margin-left: 38px;
}

.header_site-nav li:last-child {
	margin-left: 85px;
}

.header_site-nav .catalog {
	position: relative;
	padding-right: 30px;
}

.header_site-nav .catalog::after {
    content: "";
	position: absolute;
	top: 5px;
	right: 0px;
	width: 20px;
	height: 20px;
	background-image: url(../img/svg-device/plus.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

 li.catalog ul.catalog-nav {
	display: none;
}

li.catalog:hover ul.catalog-nav {
	display: block;
}